@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<section>
    <div class="services-background">
            <img src="/Our Team.png" alt="background image">
      
        <div class="container">
 
                <h1 style="font-weight:bold; text-align:center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">REGLOG</h1>
                <h3 style="text-align:center"> Welcome to RegLog</h3>
                <p class="black-text mb-0" style="text-align:justify; text-align:center; color:blueviolet">
                        This is a free web app that will help you login to your future ambitions, i encourage you to therefore login or signup and experience maximum life experience at joy's peak.'
                </p>
        </div>
    </div>
    
</section>
